//Fuentes
$fuentePrimaria: 'Roboto', sans-serif;


//Media Queries
$telefono: 480px;
$tablet: 768px;
$desktop: 1024px;


//Colores
$primario: #F783AC;
$primarioClaro: #FE99BC;
$negro: #000000;
$blanco: #FFFFFF;
$grisClaro: #eceeef;

//Unidades
$separacion: 5rem;